/* You can add global styles to this file, and also import other style files */
<<<<<<< HEAD
@import url(//fonts.googleapis.com/css?family=Quicksand);

html,body{
	font-family:  Quicksand, helvetica;
    font-size: 100%;
    overflow-x: hidden;
    background: url('./assets/images/globe-bg.jpg') no-repeat ;
    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    -ms-background-size: cover;
    background-attachment: fixed;
}
=======
>>>>>>> f15860fe6f7ae5da31fe3b02ff5007f6d9530ed9
